---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<h1> 안녕하세요 테스트 내용입니다. </h1>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dukgun.com%2F2018%2F03%2Fjava-online-web-compiler.html&psig=AOvVaw2E0TJlmN48tZW-SCtKl35-&ust=1590473528684000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjR5N-tzukCFQAAAAAdAAAAABAD">
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
